{% extends "base.html"%}
{% block content%}
<div class="container">

    <div class="p-4 m-4">
        <h3 class="alert alert-light" style="text-align: center">Login </h3>
        <div class="col-lg-5 mx-auto rounded pt-4">
            {% for message in messages %}
            <h3 style="text-align:center "> <span style="color:red">{{message}}
                </span></h3>
            {% endfor %}
            <form action="" method="post">
                {% csrf_token %}

                <div class="form-label">
                    <label for="inputEmail">Username</label>
                    <input type="text" id="inputEmail" name="username" class="form-control" placeholder="Email address"
                        required autofocus>

                </div>
                <div class="form-label">
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control"
                        placeholder="Password" required>

                </div>

                <div class="form-label ">
                    <button class="btn btn-sm btn-info col-lg-4" type="submit">Sign in</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}